/////////////////// ** IMPORT ** ////////////////
@import 'mixins.scss';

.PROD {background-color: yellow;} 
.DISPLAY {display: none;}
/*
./dart-sass/sass sass/style.scss style.css --watch 
*/

/////////////////////* CONSTANT *////////////////////////
/* FONT-FACE */
@font-face {
    font-family: 'robotoregular';
    src: url('./assets/font/roboto/Roboto-Regular-webfont.eot');
    src: url('./assets/font/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('./assets/font/roboto/Roboto-Regular-webfont.woff') format('woff'),
            url('./assets/font/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
            url('./assets/font/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
    }
     
@font-face {
    font-family: 'shrikhandregular';
    src: url('./assets/font/shrikhand/shrikhand-regular-webfont.eot');
    src: url('./assets/font/shrikhand/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
        url('./assets/font/shrikhand/shrikhand-regular-webfont.woff') format('woff'),
        url('./assets/font/shrikhand/shrikhand-regular-webfont.ttf') format('truetype'),
        url('./assets/font/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
    } 
 
/* !DEFAULT */
$BASE-FONT-SIZE: 15px;
$FULL: 100%;
$default-size: $BASE-FONT-SIZE!default;
$default-widht: $FULL!default;

/* FONT */
$FONT-TITLE: 'shrikhandregular';     
$FONT-TEXT: 'robotoregular';        

/* COLOR */
$PRIMARY: #9356DC;
$SECONDARY: #FF79DA;  
$TERTIARY: #99E2D0; 
$QUATERNARY:  #353535;
$EXTRA: lightgreen;
$EXTRA-2: rgb(246, 246, 246);


/////////////////////* CONSTANT -END- *////////////////////

/////////////////////* DYNAMIC CONFIG *//////////////////// 
/* generic-text */
html, body { @include text-();  font-size: $BASE-FONT-SIZE; 
}

h1, h2, h3, h4, h5, h6 {font-family: $FONT-TITLE, Arial, sans-serif;  }
p, b , a, li, span, button {font-family: $FONT-TEXT, Helvetica, sans-serif; }

/*  generic-style   */
a {text-decoration: none; color: black; }
ul {list-style: none; }		

/*  generic-resp-size   */
//ul, section {width: fit-content; }

/*  generic-picture   */
img {max-height: $FULL; max-width: $FULL; width: $FULL; object-fit: cover; }

/* generic border-box */
div {box-sizing: border-box; height: $FULL; width: $FULL;}

/*  generic-margin-base   */
html, body,
ul, figure {margin: 0%; padding: 0%; }

/* MAP */
$dynamic-flex: (fixed-auto:  0 0 auto, resize-auto: 1 1 auto, fixed-no-auto: 0 0, resize-no-auto:1 1);

/* COLOR */
$base-color: ($PRIMARY: #9356DC, 
              $SECONDARY: #FF79DA, 
              $TERTIARY: #99E2D0, 
              $QUATERNARY: #353535, 
              $EXTRA: lightgreen, 
              $EXTRA-2: rgb(246, 246, 246),
                )

// liste :
//    $syntax-01: 1rem, 2rem, 3rem, 4rem; <-|ex: multi sizing
//    call :
//    font-size: nth($font-size, 4); in liste: position: 4 = 4rem

// maps :
//    $font-size: (logo:7rem, heading:5rem, project-heading:4rem, label:2rem);
// call : 
//	font-size: map-get($font-size, label); map-name, key"string"
//    small .small {
//  font-size: floor((100% * $font-size-small / $font-size-base));

/*
$map: (
   key-01: value-01,
   key-02: value-02,
   key-03: value-03
	 );
	$colour-primary: #15DEA5; 
	$colour-secondary: #001534;
	$colour-accent: #D6FFF5;
	$colour-white: #fff;
	$colour-invalid: #DB464B;
	$txt-input-palette: (
   active: (
       bg: $colour-primary,
       border: $colour-primary,
       txt: $colour-white,
   ),
   focus: (
       bg: $colour-primary,
       border: $colour-primary,
       txt: $colour-white,
   ),
   invalid: (
       bg: $colour-invalid,
       border: $colour-white,
       txt: $colour-white,
   )
)
*/
/////////////////////* DYNAMIC CONFIG -END- */////////////////// 