/////////////////////* START *////////////////////////

@import 'config.scss';
@import 'function.scss';
@import 'mixins.scss';

@media screen and (max-width: 525px) {   

//////// *HEADER* //////// 
    .header-box {   
    
        .ul-in-box {
            @include simple-flex(column, nowrap, none, none);
            background-color: rgb(246, 246, 246); 
            
            .image-box {
                background-color: white; 
            }
    
            .logo {
                max-height: 50%; 
                max-width: 50%
            }
    
            .location-box {
                background-color: rgb(234, 234, 234);
            } 
    
            .fa-map-marker-alt {
                margin-right: rem(10);
            }
    
            .launch-box {
                margin-bottom: 5%;
            }
    
            .btn-explore {
                font-size: 1em;
                color: #fff;
                background: linear-gradient( #FF79DA, #9356DC);
                padding: 15px 15px;
                border-radius: 50px;
                border: none;
                box-shadow: 0px 8px 4px rgb(207 207 207);
                margin: 3% 0 8% 0 ;    
            }    
        }
    }

//////// *SECTION running-box* //////// 

main {
    @include simple-flex(column, nowrap, $between, none);
}

.running-box {
    height: 15rem;

    .title-running {
        @include text-(start);
    }
    .ul-running { 
        @include simple-flex(column, nowrap, $around, center); 

        .operation-card {  
            @include simple-flex(row, nowrap, none, center);
            background-color: rgb(246, 246, 246);  
            height: 4.8rem;
            width: 90%;
            border-radius: 30px;
            box-shadow: 0px 3px 8px rgb(207 207 207);
        }
        .ennumerate {
            background-color: #9356DC;
            border-radius: 20px;
            text-align: center;
            color: white;
            padding: 5px 10px;
            margin-left: -10px;
            margin-right: 5%;
        }
        .running-icon {  
            @include simple-flex(row, nowrap, none, none);
            width: 1.5rem;
            margin-right: 5%;
        }
    }
}

.operation-card {  
    flex: 1 1 auto;
}

//////// *SECTION restaurant-list-box* //////// 
.restaurant-list-box {
    @include simple-flex(column, nowrap, none, none);
    background-color: rgb(246, 246, 246); 

    .title-restaurant {
        @include text-(start);
        margin-top: 15%;
    }
    .ul-restaurant-list {
        @include simple-flex(column, nowrap, $between, center);
        height: 77rem;

        .pos {
            background-color: white;
            width: 90%;

            .love-place {
                @include simple-flex(row, nowrap, $between, none);
            } 
            .img {
                width: 100%;
                height: 200px;
                border: 3px solid white;
                border-radius: 20px 20px 0 0;
            }
            .name-card {
                @include text-(start);
                background-color: white;
                border-radius: 0 0 20px 20px;
                border: 3px solid white;
                height: 70px;
                width: 100%;
            }    
        }
    }
}
    
//////// *SECTION footer* //////// 
    .footer-box {
        background-color: #353535;

        .footer {
            @include simple-flex(column, nowrap, none, none);

            .title, .add-restaurant,
            .partner, .cgv, .contact 
            {
                @include simple-flex(row, nowrap, none, center); 
                color: white;
                width: rem(200);
                padding: rem(2);
                margin-left: 5%;
            }
        }
        .fa-utensils, 
        .fa-hands-helping {
            margin-right: 5%;
        }
    }

}
@media screen and (min-width: 525px) and (max-width: 815px) {  

}

////////////////////////////////////////////////////////////////////////////////////////////////