/////////////////// ** IMPORT ** ///////////////// lighten($colour, 10%); darken($colour, 10%);

@import 'import';

.test {    font-size: calc(vw(20) + 5rem);
}
/////////////////// ** START ** /////////////////

    //////// ** HEADER ** //////// 
    //.header-box { 
    //    padding: rem(15); 
    //    &--logo {
    //        max-height: 50%; 
    //        max-width: 50%
    //    }    
    //}
.header { 
    @include simple-flex(row, nowrap); @include space-($evenly);
    &--arrow { 
        @include display(none);
        background-color: grey; 
        width: fit-content;
    }
    &--logo { 
        padding: rem(15);
        height: 25%; 
         width: 35%;
        &:hover {
        }
    }
}



    //////// ** SECTION home-box ** //////// 
    .section-home {   @include center-block();
        width: 95%;
        background-color: $EXTRA-2;
        &--list { 
            @include simple-flex(column, nowrap);
            .section-home--bcnd {
                border-top: 2px solid rgb(207, 207, 207);
                box-shadow: inset 0px 0px 4px rgb(207 207 207);
                padding: rem(5);
            }
            .section-home--box-icon {
                background-color: $EXTRA-2;
                font-size: convert(15, pt, rem);
                width: auto;
                margin: rem(10);
                .fa-map-marker-alt {
                    margin-right: rem(15);
                }
            }
            .section-home--title {  
                font-size: convert(12, pt, rem);
                padding-top: rem(45);
            }
            .section-home--discover {
                font-size: convert(12, pt, rem);
                margin-bottom: rem(5);

            }
            .section-home--title, .section-home--discover, .btn-box {
                background-color: $EXTRA-2;
            }
            .title--reserve {
                font-size: convert(20, pt, rem); 
            }
            &--discover {
                font-size: convert(14, pt, rem);
            } 
            .jump-line {display: none;}
        }
    }
    .btn-box{
        padding-bottom: rem(45);
        .btn--explore  { 
            @include btn
        } 
    }

    //////// ** SECTION running-box ** //////// 
    .section-runnig {   
        @include center-block();
        width: 95%;
        &--list { 
            @include flex-auto(row, column, nowrap, $between); 
            @include space-($around);
            @include align-();
            .runnig-card {  
                @include simple-flex(row, nowrap);
                @include align-();
                background-color: $EXTRA-2; 
                margin:  rem(15);
                height: rem(75);
                width: 80%;
                border-radius: 30px;
                box-shadow: 0px 3px 8px $EXTRA-2;
            }
            .runnig-card--ennum {
                @include display;
                background-color: $PRIMARY;
                border-radius: 20px;
                color: white;
                font-size: convert(15, pt, rem);
                padding: 5px 15px 5px 15px;
                margin-left: -10px;
                margin-right: 5%;
            }
            .runnig-card--icon { 
                @include simple-flex(row, nowrap);
                margin-left: rem(30);
                margin-right: rem(30);
                font-size: convert(25, px, rem);
                .fa-store,.fa-list,
                .fa-mobile-alt {
                    color: $QUATERNARY;
                    &:hover {
                        color: $PRIMARY;
                    }
                }
            }
            .running-card--text {
                font-size: convert(15, pt, rem);
                padding: rem(5);
                margin-left: rem(25);
            }
        }
    }
    .section--title { 
        display:block;
        font-size: convert(25, px, rem);
        font-family: $FONT-TEXT;
        margin-left: rem(20);
        width: fit-content;
    }


    //////// ** SECTION restaurant-list-box ** //////// 
    .section-restaurant {
        @include center-block();
        background-color: $EXTRA-2; 
        width: 95%;
        padding-bottom: rem(70);
        margin-bottom: rem(50);
        .section-restaurant--list {               
            @include simple-flex(row, wrap);
            @include space-($between);
            @include align-();
            .section-restaurant--pos {
                @include center-block();
                position: relative;
                background-color: white;
                border: 3px solid white;
                border-radius: 20px;
                width: 45%;
                margin-top: rem(20);
                .fig-size {
                    border-radius: 20px;
                .section-restaurant--new { 
                    z-index: 1;
                    display: block;
                    text-align: center;
                    color: #39a98d;
                    background-color: #99e2d0;
                    padding: rem(15);
                    position: absolute;
                    left: 80%;
                    top: 20px;
                }
                .section-restaurant--img {
                    position: relative;
                    border: 3px solid white;
                    border-radius: 20px 20px 0 0;
                    height: 200px;
                    width: 100%;
                }
                .section-restaurant--insert {
                    @include simple-flex(row, nowrap);
                    @include text-(start);
                    font-size: convert(20, px, rem);
                    background-color: white;
                    padding-left: rem(20);
                    .section-restaurant--text {  
                        @include simple-flex(column, nowrap);
                        font-size: convert(15, px, rem);
                        width: 85%
                    }
                    .section-restaurant--loc { 
                        @include simple-flex(row, nowrap);
                        @include space-($between);
                        margin-top: rem(5);
                    }
                }
                    .section-restaurant--icon {
                        width: 10%;
                        .section-restaurant-heart--active {  
                            width: fit-content;
                            .heart--active {
                                color: $PRIMARY;
                            }
                        }
                        .section-restaurant-heart--active {  
                            display: none;
                        }
                        &:hover {
                            .section-restaurant-heart {
                                display: none;
                            }
                            .section-restaurant-heart--active {  
                                display: inherit;
                            }
                        } 
                        .section-restaurant-heart {  
                            .heart {
                            }
                        }    
                    }
                }
            }
        }
    }

    //////// ** SECTION footer ** //////// 
    .section-footer {  
        background-color: $QUATERNARY;
        padding-top: rem(30);
        padding-bottom: rem(20);
        &--title { 
            font-size: convert(30, px, rem);
            @include text-(start);
            color: white;
            margin-left: rem(20);
        }
        &--list {
            @include simple-flex(column, nowrap);
            font-size: convert(14, pt, rem);
            width: fit-content;
            margin: rem(20);
            .section-footer--icon {
                margin-right: rem(8);
                width: rem(20)
            }
            .section-footer--add,.section-footer--partner, 
            .section-footer--cgv, .section-footer--contact { 
                @include simple-flex(row, nowrap); 
                @include align-(start); 
                @include text-(start);
                color: white;
            }
        }
    }

    //////// ** RESTAURANT pages ** //////// 
    .header-arrow {
                        position: absolute; 
                        left: 3rem; 
                        top: rem(17);        
                        .fa-arrow-left {
                            font-size: 1.5rem;
                        }
                    }
    .section-menu {
        background-color: $EXTRA-2;
        &--fig {
            position: relative;
            margin-bottom: 50px;
            .section-menu--cap { 
                @include simple-flex(row, nowrap); 
                @include space-($between);
                @include align-(center);
                background-color: $EXTRA-2;
                border-radius: 40px 40px 0 0; 
                position: absolute;
                left: 0; right: 0;
                padding: 30px;
                margin-top: -40px;   
                &--name {
                    @include text-(left);
                    width: 100%;
                    margin-left: rem(-15);
                }
                .menu-restaurant--icon {
                    width: rem(40);
                    .fa-heart {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    .section-main--list { 
        @include simple-flex(column, nowrap); 
        @include space-($between);
        .section-menu--title { 
            @include text-(start);
            color: $QUATERNARY;
            margin-top: rem(30);
            margin-left: rem(15);    
        } 
        .border {
            width: 3.5rem;
            border-bottom: 1mm solid $TERTIARY;    
            margin-top: rem(-12);        
            margin-bottom: rem(20);
            margin-left: rem(15);    

        }
        .thumbnail--box { 
            @include text-(start);
            background-color: rgb(255, 255, 255);
            border-radius: 15px;
            box-shadow: 0px 3px 8px rgb(207 207 207);
            margin: rem(8);
            padding: rem(12);
            .thumbnail--text {
                width: content;
                @include simple-flex(row, nowrap); 
                @include space-($between);
            }
            .check-box { 
                .check-circle {
                    font-size: convert(20, pt, rem);
                    background-color: $EXTRA;
                    color: white;
                    border-radius: 0px 15px 15px 0;
                    padding: rem(15)
                }
            }
        }    
        .btn-box{
            padding-bottom: rem(45);
            .btn--explore  { 
                @include btn;
                background-color: #39a98d;
                width: rem(220);
            } 
        }
    }



