
/*-----------------*\
    · KeyFrame ·
\*-----------------*/

@keyframes hideLoader {
    0% {
        display: block;
        opacity: 1;
    }
    99% {
        display: block;
        opacity: 0;

    }
    100% {
        display: none;
        opacity: 0;
        z-index: 0;
    }
}

@keyframes loaderSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveToUp {
    0% {
        transform: translateY(2rem);
        opacity: 0;    
    }
    100% {
        transform: translateY(0);
        opacity: 1;    
    }
}

@keyframes moveToRight {
    0% {
        transform: translatex(1rem);
    }
    100% {
        transform: translatex(0);
    }
} 

@keyframes rotate-icon {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(360deg);
    }
}