/*-----------------------------*\
            · IMPORT ·
\*-----------------------------*/
@import 'mixins';
@import 'function';

/*-----------------------------*\
        · DYNAMIC CONFIG ·
\*-----------------------------*/
html,
body {
    @include text-();
    text-rendering: geometricPrecision;
    max-width: $FULL;
    min-width: $FULL;
    margin: 0%;
    padding: 0%;
}

/*-----------------------------*\
        · generic-text ·
\*-----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $FONT-TITLE, Helvetica, sans-serif; margin: 0%;
}

p,
b,
a,
li,
span,
button {
    font-family: $FONT-TEXT, Helvetica sans-serif; margin: 1%;
}

/*-----------------------------*\
        · generic-style ·
\*-----------------------------*/
a {
    text-decoration: none;
    color: $TEXT-COLOR;
    ; margin: 0%;
    &:hover {
        color: lighten($TEXT-COLOR, 100%)!important;
    }
}

ul {
    list-style: none;
}
/*-----------------------------*\
        · generic-picture ·
\*-----------------------------*/
img {
    display: block;
    margin: 0%;
    padding: 0%;
    max-height: $FULL;
    max-width: $FULL;
    -o-object-fit: cover;
       object-fit: cover;
}

/*-----------------------------------*\
        · generic border-box ·
\*-----------------------------------*/
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/*-----------------------------------*\
        · generic-margin-base ·
\*-----------------------------------*/
ul,
figure {
    margin: 0%;
    padding: 0%;
    height: 100%;
}

/*-----------------------------------*\
        · icon size and color ·
\*-----------------------------------*/
i {
    font-size: convert(20, px, rem);
    color: $QUATERNARY
}

/*---------------------------------*\
        · DYNAMIC CONFIG END ·
\*---------------------------------*/