/*----------------------*\
        · START ·
\*----------------------*/
/*-----------------*\
    · function ·
\*-----------------*/

//
@function strip-unit($number) {
    @if type-of($number)=='number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}


/*---------------------*\
    · rem converter ·
\*---------------------*/
// url|-> 'https://outils-css.aliasdmc.fr'
// numeric $size, $base use default size
// call : {
//    rem(75, 100)
@function rem($size, $base: $BASE-FONT-SIZE) {
    @return 1rem * $size / strip-unit($base);
}


/*-------------------------*\
    · convert font-size ·
\*-------------------------*/
@function convert($value, $currentUnit, $convertUnit) {
    @if $currentUnit==px {
        @if $convertUnit==rem {
            @return $value / 16+0em;
        }
        @else if $convertUnit==percent {
            @return percentage($value / 16);
        }
    }
    @else if $currentUnit==rem {
        @if $convertUnit==px {
            @return $value * 16+0px;
        }
        @else if $convertUnit==percent {
            @return percentage($value);
        }
    }
    @else if $currentUnit==percent {
        @if $convertUnit==px {
            @return $value * 16 / 100+0px;
        }
        @else if $convertUnit==rem {
            @return $value / 100+0em;
        }
    }
    @else if $currentUnit==pt {
        @if $convertUnit==px {
            @return $value * 1.3333+0px;
        }
        @else if $convertUnit==rem {
            @return $value / 12+0em;
        }
        @else if $convertUnit==percent {
            @return percentage($value / 12)
        }
    }
}