/////////////////////* DYNAMIC CONFIG *////////////////////// 

/*  generic-flex   */

$around: space-around;
$between: space-between;
$evenly: space-evenly;
$center: center;

/* FLEX-DIRECTION */

// values :
// row, row-reverse, column, column-reverse
// call : 
//    @include flex-()
//    @include display(column)
@mixin flex-($direction: row) {
    flex-direction: $direction;
}

/* FLEX-WRAP */

// values :
// wrap, nowrap, wrap-reverse
// call : 
//    @include wrap()
//    @include wrap(wrap-reverse)
@mixin wrap($values: nowrap) {
    flex-wrap: $values;
}

/* FLEX-SPACE */

// values : 
//    $between,
//    $around,
//    $evenly
// call : 
//    @include space-()
//    @include space-($around)
//
@mixin space-($value: $between) {
    align-content: $value;
    justify-content: $value;
}

/* ALIGN-ITEMS */

// values :
// flex-start, flex-end, center, baseline, stretch
// call : 
//    @include flex-align()
//    @include flex-align(flex-end)
@mixin align-($items: center) {
    align-items: $items;
}

/* FLEX-FLOW */

// values :
// row wrap;
// row-reverse wrap;
// row-reverse wrap-reverse;
// column wrap;
// column-reverse wrap;
// column wrap-reverse;
// column-reverse wrap-reverse;
// call : 
//    @include flex-flow()
//    @include flex-flow(column-reverse wrap-reverse)
@mixin flex-flow($values: row wrap) {
    flex-flow: $values;
}

/* SIMPLE-FLEX */

// values : 
//call :
//       @include simple-flex(column, wrap-reverse, around, start, flex);
@mixin simple-flex($direction, $wrap, $between) {
    @include display;
    @include flex-($direction);
    @include wrap($wrap);
    @include space-($between)
}

/*  DYNAMIC-RESIZE */

// call :
//        @include flex-auto(column, row, wrap-reverse, $around);
@mixin dynamic-flex($direction-1, $direction-2, $wrap, $between) {
    @include display;
    @include flex-($direction-1);
    @include respond(mobile) {
        @include flex-($direction-2);
    };
    @include respond(mobile-p) {
        @include flex-($direction-1);
    };
    @include respond(tablet) {
        @include flex-($direction-1);
    };
    @include respond(tablet-p) {
        @include flex-($direction-1);
    };
    @include wrap($wrap);
    @include space-($between);
}