/////////////////////* DYNAMIC CONFIG *////////////////////// 
/* BASIS VALUE */
%flex-auto {
    flex: auto;
}
%flex-auto {
    flex: initial;
}
%flex-auto {
    flex: none;
}
/* FLEXBOX ASSIGN-ROLE */
/* USING: DECLARE YOUR FLEX CONFIGURATION FOR AUTO-DIRECTION FLEXBOX */
// maps :
//    $font-size: (logo:7rem, heading:5rem, project-heading:4rem, label:2rem);
// call : 
//	font-size: map-get($font-size, label); map-name, key"string"

%flex-fixed-auto {
    flex: 0 0 auto; 
}
%flex-resize-auto {
    flex: 1 1 auto;
}
%flex-fixed-no-auto {
    flex: 0 0; 
}
%flex-resize-no-auto {
    flex: 1 1;
}
/* FLEXBOX EXTENSION */
%flex {
    display: flex;
}
/* direction */
%row {
    flex-direction: row;
}
%column {
    flex-direction: column;
}
/* space */
%between {
    align-content: space-between;
    justify-content: space-between;
}
%around {
    align-content: space-around;
    justify-content: space-around;
}
/* wrap */
%wrap {
    flex-wrap: wrap;
}
%nowrap {
    flex-wrap: nowrap
}
/* flex-flow */
%flow-row-wrap {
    flex-flow: row wrap;
}
%flow-row-reverse-wrap {
    flex-flow: row-reverse wrap;
}
%flow-row-wrap-reverse {
    flex-flow: row wrap-reverse;
}
%flow-row-reverse-wrap-reverse {
    flex-flow: row-reverse wrap-reverse;
}
%flow-column-wrap {
    flex-flow: column wrap;
}
%flow-column-reverse-wrap {
    flex-flow: column-reverse wrap;
}
%flow-column-wrap-reverse {
    flex-flow: column wrap-reverse;
}
%flow-column-reverse-wrap-reverse {
    flex-flow: column-reverse wrap-reverse;
}
/* align object */
/* call : 
    @extend %align-{config}
*/
%align-center {
    align-items: center;
}
%align-stretch {
    align-items: stretch;
}
%align-start {
    align-items: start;
}
%align-end {
    align-items: end;
}
/* SIMPLE-FLEX */
// values : 
//call :
//        @include simple-flex(column, wrap-reverse, around, start, flex);

@mixin simple-flex-desktop($direction, $between, $wrap, $items, $flex) { 
    @extend %flex;
    @extend %#{$direction};
    @extend %#{$between};
    @extend %#{$wrap};
    @extend %align-#{$items};
    @extend %flex-#{$flex};
    box-sizing: border-box;
} 
/*  FLEX-AUTO */
// comment : just add this values in child-box -> "flex: 1 1 auto;"
// values : 
//    wrap, nowrap,
//    $between, $around
// call :
//        @include flex-auto(column, row, wrap-reverse, $around);
//        .child-box {
//            flex: 1 1 auto; }
@mixin ex-flex-auto-dir($direction-1, $direction-2, $wrap, $between) { 
    @include display; 
    @extend %#{$direction-1};
    @include respond(mobile-p) {@extend %#{$direction-1};}; 
    @include respond(tablet-p) {@extend %#{$direction-1};};
    @include respond(mobile) {@extend %#{$direction-2};};
    @include respond(tablet) {@extend %#{$direction-2};};
    @extend %#{$between};
    @extend %#{$wrap};
}