/* TEXT-ALIGN */
/* DISPLAY */
/* RESPONSE LAYOUT */
.PROD {
  background-color: yellow;
}

/*
./dart-sass/sass sass/style.scss style.css --watch
*/
/* FONT-FACE */
@font-face {
  font-family: "robotoregular";
  src: url("./assets/font/roboto/Roboto-Regular-webfont.eot");
  src: url("./assets/font/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/font/roboto/Roboto-Regular-webfont.woff") format("woff"), url("./assets/font/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("./assets/font/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("./assets/font/shrikhand/shrikhand-regular-webfont.eot");
  src: url("./assets/font/shrikhand/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/font/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("./assets/font/shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("./assets/font/shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("./assets/font/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* !DEFAULT */
/* FONT */
/* COLOR */
/* generic-text */
html, body {
  text-align: center;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "shrikhandregular", Arial, sans-serif;
}

p, b, a, li, span, button {
  font-family: "robotoregular", Helvetica, sans-serif;
}

/*  generic-style   */
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/*  generic-resp-size   */
ul, section {
  width: 100%;
}

/*  generic-picture   */
img {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

/* generic border-box */
div {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/*  generic-margin-base   */
html, body,
ul, figure {
  margin: 0%;
  padding: 0%;
}

/* MAP */
/* COLOR */
/* TEXT-ALIGN */
/* DISPLAY */
/* RESPONSE LAYOUT */
/* function */
/* REM-COVERTER */
/* 
https://www.sitepoint.com/converting-typographic-units-sass/ 
  font-size: convert(16, px, percent);
*/
/* BASIS VALUE */
/* FLEXBOX ASSIGN-ROLE */
/* USING: DECLARE YOUR FLEX CONFIGURATION FOR AUTO-DIRECTION FLEXBOX */
/* FLEXBOX EXTENSION */
/* direction */
/* space */
/* wrap */
/* flex-flow */
/* align object */
/* call : 
    @extend %align-{config}
*/
/* SIMPLE-FLEX */
/*  FLEX-AUTO */
/*  generic-flex   */
/* FLEX-DIRECTION */
/* FLEX-WRAP */
/* FLEX-SPACE */
/* ALIGN-ITEMS */
/* FLEX-FLOW */
/* SIMPLE-FLEX */
/*  FLEX-AUTO */
@media only screen and (max-width: 525px) {
  .header-logo-box {
    padding: 0.5rem;
  }
  .header-logo-box .header-logo {
    max-height: 50%;
    max-width: 50%;
  }

  .section-home .home-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    flex: 0 0 auto;
    background-color: #eaeaea;
  }
  .section-home .home-list .background {
    background-color: #eaeaea;
    border-top: 2px solid #cfcfcf;
    box-shadow: inset 0px 0px 4px #cfcfcf;
    padding: 1.6666666667rem;
  }
  .section-home .home-list .home-location {
    background-color: #eaeaea;
    font-size: 1.1666666667em;
    width: auto;
    margin: auto;
  }
  .section-home .home-list .home-location .fa-map-marker-alt {
    margin-right: 1rem;
  }
  .section-home .home-list .home-title-1 {
    padding-top: 3rem;
  }
  .section-home .home-list .home-title-1, .section-home .home-list .discover, .section-home .home-list .btn-box {
    background-color: #f6f6f6;
  }
  .section-home .home-list .reserve-title {
    font-size: 1.6666666667em;
  }
  .section-home .home-list .discover {
    font-size: 1.1666666667em;
  }
  .section-home .home-list .btn-box {
    padding-bottom: 3rem;
  }
  .section-home .home-list .btn-box .btn-action {
    background: linear-gradient(#FF79DA, #9356DC);
    font-size: 1em;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 8px 4px #cfcfcf;
    margin: 0.3333333333rem 0rem 0.6666666667rem 0rem;
    padding: 1.3333333333rem 2.3333333333rem;
    border: none;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    flex: 1 1;
  }

  .section-runnig {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-content: space-evenly;
    justify-content: space-evenly;
  }
  .section-runnig .runnig-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 auto;
    height: 18.6666666667rem;
  }
  .section-runnig .runnig-list .runnig-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
    flex: 0 0 auto;
    background-color: #f6f6f6;
    margin: auto;
    height: 5rem;
    width: 85%;
    border-radius: 30px;
    box-shadow: 0px 3px 8px #cfcfcf;
  }
  .section-runnig .runnig-list .runnig-card-ennum {
    display: flex;
    flex: 0 0 auto;
    background-color: #9356DC;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    margin-left: -10px;
    margin-right: 5%;
  }
  .section-runnig .runnig-list .runnig-card-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin-right: 1.3333333333rem;
    font-size: 1.25em;
  }
  .section-runnig .runnig-list .runnig-card-icon .fa-store:hover {
    color: #9356DC;
  }
  .section-runnig .runnig-list .running-card-text {
    font-size: 1.1666666667em;
    padding: 0.3333333333rem;
  }

  .part-title {
    font-size: 1.5625em;
    font-family: "robotoregular";
    margin-left: 1.3333333333rem;
    width: fit-content;
  }

  .section-restaurant-display {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: start;
    align-content: space-around;
    justify-content: space-around;
    flex: 1 1 auto;
    background-color: #f6f6f6;
    margin-top: 3.3333333333rem;
  }
  .section-restaurant-display .restaurant-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
  }
  .section-restaurant-display .restaurant-list .restaurant-pos {
    margin: 0.6666666667rem 0 0.6666666667rem;
    z-index: 50;
    background-color: white;
    border: 3px solid white;
    border-radius: 0 0 20px 20px;
    width: 90%;
  }
  .section-restaurant-display .restaurant-list .restaurant-pos .restaurant-new {
    display: none;
    position: absolute;
    text-align: center;
    color: #39a98d;
    background-color: #99e2d0;
    width: 7.3333333333rem;
    padding: 0.4rem;
    margin-left: 20.3333333333rem;
    margin-top: 1.3333333333rem;
    z-index: 200;
  }
  .section-restaurant-display .restaurant-list .restaurant-pos .restaurant-img {
    z-index: 50;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
    height: 200px;
    width: 100%;
  }
  .section-restaurant-display .restaurant-list .restaurant-pos .insert {
    text-align: start;
    font-size: 1.25em;
    background-color: white;
    padding-left: 0.6666666667rem;
  }
  .section-restaurant-display .restaurant-list .restaurant-pos .insert .restaurant-location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-content: space-between;
    justify-content: space-between;
    flex: 1 1 auto;
    margin-top: 0.3333333333rem;
  }
  .section-restaurant-display .restaurant-list .restaurant-pos .insert .fa-heart-box {
    display: none;
    width: fit-content;
    padding: 1rem;
    margin-left: 22.3333333333rem;
  }
  .section-restaurant-display .restaurant-list .restaurant-pos .insert .fa-heart-box .fa-heart {
    font-size: 1.5625em;
    margin: auto;
  }

  .section-footer {
    background-color: #353535;
  }
  .section-footer .footer-title {
    font-size: 1.875em;
    text-align: start;
    color: white;
    padding: 2.3333333333rem 1.6666666667rem 0 1.5333333333rem;
  }
  .section-footer .footer-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    flex: 1 1 auto;
  }
  .section-footer .footer-list .footer-add {
    width: 16.6666666667rem;
  }
  .section-footer .footer-list .footer-incon {
    width: 13.3333333333rem;
  }
  .section-footer .footer-list .fa-utensils,
.section-footer .footer-list .fa-hands-helping {
    width: 1.3333333333rem;
  }
  .section-footer .footer-list .footer-add, .section-footer .footer-list .footer-partner,
.section-footer .footer-list .footer-cgv, .section-footer .footer-list .footer-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: start;
    text-align: start;
    flex: 1 1 auto;
    color: white;
    padding: 0.1333333333rem;
    margin-left: 5%;
  }

  .header-arrow {
    position: absolute;
    left: 3rem;
    top: 1rem;
  }
  .header-arrow .fa-arrow-left {
    font-size: 1.5rem;
  }

  .figure-style {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    padding: 30px;
    margin-top: -40px;
    z-index: 100;
  }
  .figure-style .fa-heart {
    font-size: 1.8rem;
  }

  .section-menu {
    background-color: red;
  }
  .section-menu .menu-title {
    text-align: start;
    color: #353535;
  }
  .section-menu .border {
    width: 8rem;
    height: 0.5rem;
    border-bottom: 1mm solid #99E2D0;
    margin-bottom: 0.5rem;
  }
  .section-menu .thumbnail-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: start;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 3px 8px #cfcfcf;
  }
  .section-menu .thumbnail-box .thumbnail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-content: space-between;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
