/////////////////// ** IMPORT ** ////////////////
@import 'import.scss';

/////////////////// ** START ** /////////////////
@media only screen and (max-width: 525px) { 

    //////// ** HEADER ** //////// 
    .header-logo-box { padding: 0.5rem;
        //background-color: white; 
        .header-logo {
            max-height: 50%; 
            max-width: 50%
        }    
    }

    //////// ** SECTION home-box ** //////// 
    .section-home {   
        .home-list { 
            @include simple-flex(column, nowrap);
            flex: map-get($dynamic-flex, fixed-auto);
            background-color: rgb(234, 234, 234);
            .background {
                background-color: rgb(234, 234, 234);
                border-top: 2px solid rgb(207, 207, 207);
                box-shadow: inset 0px 0px 4px rgb(207 207 207);
                padding: rem(25);
            }
            .home-location { 
                background-color: rgb(234, 234, 234);
                font-size: convert(14, pt, rem);
                width: auto;
                margin: auto;
                .fa-map-marker-alt {
                    margin-right: rem(15);
                }
            }
            .home-title-1 {            
                padding-top: rem(45) ;
            }
            .home-title-1, .discover, .btn-box {
                background-color: map-get($base-color, $EXTRA-2);
            }
            .reserve-title {
                font-size: convert(20, pt, rem);
            }
            .discover{
                font-size: convert(14, pt, rem);
            } 
            .btn-box{
                padding-bottom: rem(45);
                .btn-action  { 
                    background: linear-gradient( #FF79DA, #9356DC);
                    font-size: convert(12, pt, rem);
                    color: #fff;
                    border-radius: 50px;
                    //border: none;
                    box-shadow: 0px 8px 4px rgb(207 207 207);
                    margin: rem(5) rem(0) rem(10) rem(0); 
                    //padding: rem(25);
                    //margin-top: 25px;
                    //margin-bottom: 15px;
                    padding: rem(20) rem(35);
                    border: none;
                } 
            }
        }
    }

    //////// ** SECTION running-box ** //////// 
    main { 
        @include simple-flex(column, nowrap);
       // @include space-($between);
        flex: map-get($dynamic-flex, resize-no-auto);
    }
    .section-runnig {                 
        @include simple-flex(column, nowrap);
        @include space-($evenly);
        //flex: map-get($dynamic-flex, resize-auto);
        .runnig-list { 
            @include simple-flex(column, nowrap); 
            @include space-($around);
            @include align-();
            flex: map-get($dynamic-flex, fixed-auto);
            height: rem(280);
            .runnig-card {  
                @include simple-flex(row, nowrap);
                @include align-();
                flex: map-get($dynamic-flex, fixed-auto);
                background-color: map-get($base-color, $EXTRA-2); 
                margin: auto;
                height: rem(75);
                width: 85%;
                border-radius: 30px;
                box-shadow: 0px 3px 8px rgb(207 207 207);
            }
            .runnig-card-ennum {
                @include display;
                flex: map-get($dynamic-flex, fixed-auto);
                background-color: $PRIMARY;
                border-radius: 20px;
                color: white;
                padding: 5px 10px;
                margin-left: -10px;
                margin-right: 5%;
            }
            .runnig-card-icon { 
                @include simple-flex(row, nowrap);
                margin-right: rem(20);
                font-size: convert(20, px, rem);
                .fa-store:hover {
                    color: map-get($base-color, $PRIMARY )
                }
            }
            .running-card-text {
                font-size: convert(14, pt, rem);
                padding: rem(5)
            }
        }
    }
    .part-title { 
        font-size: convert(25, px, rem);
        font-family: $FONT-TEXT;
        margin-left: rem(20);
        width: fit-content
    }


    //////// ** SECTION restaurant-list-box ** //////// 
    .section-restaurant-display {
        @include simple-flex(column, nowrap);
        @include align-(start);
        @include space-($around);
        flex: map-get($dynamic-flex, resize-auto);
        background-color: map-get($base-color, $EXTRA-2); 
        margin-top: rem(50);
        .restaurant-list {
            @include simple-flex(column, nowrap);
            @include space-($between);
            @include align-();
            //flex: map-get($dynamic-flex, resize-auto);
            .restaurant-pos {
                margin: rem(10) 0 rem(10);
                z-index: 50;

                background-color: white;
                border: 3px solid white;
                border-radius: 0 0 20px 20px;
                width: 90%;
                .restaurant-new {
                    display: none;

                    position: absolute;
                    //align-self: flex-end;
                    text-align: center;
                    //margin-left: -110px;
                    //margin-top: -100px;
                   //margin-left: 700px;
                    color: #39a98d;
                    background-color: #99e2d0;
                    //padding: 6px 13px;
                    //height: 25px;
                    //width: 100px;
                    width: rem(110);
                    padding: rem(6);
                    margin-left: rem(305);
                    margin-top: rem(20);
                    z-index: 200;
                }
                .restaurant-img {
                    z-index: 50;

                    border: 3px solid white;
                    border-radius: 20px 20px 0 0;
                    height: 200px;
                    width: 100%;
                }
                .insert {
                    @include text-(start);
                    font-size: convert(20, px, rem);
                    background-color: white;
                    padding-left: rem(10);

                    .restaurant-location { 
                        @include simple-flex(row, nowrap);
                        @include space-($between);
                        flex: map-get($dynamic-flex, resize-auto);
                        margin-top: rem(5);
                    }
                    .fa-heart-box {  display: none;
                        width: fit-content;
                        padding: rem(15);
                        margin-left: rem(335);
                        .fa-heart {
                            font-size: convert(25, px, rem);
                            margin: auto;
                        }
                    }
                }    
            }
        }
    }

    //////// ** SECTION footer ** //////// 
    .section-footer {
        background-color: map-get($base-color, $QUATERNARY);
        .footer-title {
            font-size: convert(30, px, rem);
            @include text-(start);
            color: white;
            padding: rem(35) rem(25) 0 rem(23)
        }
        .footer-list {
            @include simple-flex(column, nowrap);
            flex: map-get($dynamic-flex, resize-auto);
            .footer-add { 
                width: rem(250);
            }
            .footer-incon {
                width: rem(200);
            }
            .fa-utensils, 
            .fa-hands-helping {  
                width: rem(20)
                //margin-right: 5%;
            }
            .footer-add,.footer-partner, 
            .footer-cgv, .footer-contact { 
                @include simple-flex(row, nowrap); 
                @include align-(start);
                @include text-(start);
                flex: map-get($dynamic-flex, resize-auto);
                color: white;
                padding: rem(2);
                margin-left: 5%;
            }
        }
    }



    //////// ** RESTAURANT pages ** //////// 
    .header-arrow {
        position: absolute; 
        left: 3rem; 
        top: 1rem;
        .fa-arrow-left {
            font-size: 1.5rem;
        }
    }
    .figure-style { 
        @include simple-flex(row, nowrap); 
        @include space-($between);
        @include align-(center);
        background-color: rgb(246, 246, 246);
        border-radius: 40px 40px 0 0; 
        padding: 30px;
        margin-top: -40px;   
        z-index: 100;
            .fa-heart {
                font-size: 1.8rem;
        }
    }
    .section-menu {
        background-color: red;

        //background-color: rgb(246, 246, 246);
        .menu-title {
            @include text-(start);
            color: map-get($base-color, $QUATERNARY);
        }
        .border {
            width: 8rem;
            height: 0.5rem;
            border-bottom: 1mm solid map-get($base-color, $TERTIARY);            
            margin-bottom: 0.5rem;
        }
        .thumbnail-box { 
            @include simple-flex(column, nowrap); 
            @include align-(start);
            background-color: rgb(255, 255, 255);
            border-radius: 15px;
            box-shadow: 0px 3px 8px rgb(207 207 207);
            .thumbnail {
                @include simple-flex(row, nowrap); 
                @include space-($between);
            }
        }    

    }

}