@charset "UTF-8";
/* FONT */
/* FONT-FACE */
@font-face {
  font-family: "roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap") format("truetype");
}
@font-face {
  font-family: "shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap") format("truetype");
}
/* BASE-FONT-SIZE */
/* !DEFAULT */
/* COLOR */
/* TEXT-ALIGN */
/* DISPLAY */
/* RESPONSE LAYOUT */
/* function */
/* REM-COVERTER */
/* VW-COVERTER */
/* 
https://www.sitepoint.com/converting-typographic-units-sass/ 
  font-size: convert(16, px, percent);
*/
.PROD {
  background-color: yellow;
}

.NONE {
  display: none;
}

/* 
./dart-sass/sass src/sass/style.scss assets/css/style.css --watch 
*/
/* html & body fix configuration */
html, body {
  text-align: center;
  font-size: 15.5px;
  max-width: 100%;
  min-width: 100%;
  margin: 0%;
  padding: 0%;
  height: 100%;
}

/* generic-text */
h1, h2, h3, h4, h5, h6 {
  font-family: "shrikhand", Helvetica, sans-serif;
  width: 100%;
}

p, b, a, li, span, button {
  font-family: "roboto", Helvetica, sans-serif;
}

/* generic-style */
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.384);
}
a:hover {
  color: rgba(255, 255, 255, 0.384) !important;
}

ul {
  list-style: none;
}

/* generic-picture */
img {
  display: block;
  margin: 0%;
  padding: 0%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* generic border-box */
* {
  box-sizing: border-box;
}

/* generic-margin-base */
ul, figure {
  margin: 0%;
  padding: 0%;
  height: 100%;
}

/* icon size and color */
i {
  font-size: 156.25%;
  color: #353535;
}

/* MAP */
/*
$map: (
   key-01: value-01,
   key-02: value-02,
   key-03: value-03
	 );
	$colour-primary: #15DEA5; 
	$colour-secondary: #001534;
	$colour-accent: #D6FFF5;
	$colour-white: #fff;
	$colour-invalid: #DB464B;
	$txt-input-palette: (
   active: (
       bg: $colour-primary,
       border: $colour-primary,
       txt: $colour-white,
   ),
   focus: (
       bg: $colour-primary,
       border: $colour-primary,
       txt: $colour-white,
   ),
   invalid: (
       bg: $colour-invalid,
       border: $colour-white,
       txt: $colour-white,
   )
)
*/
/* TEXT-ALIGN */
/* DISPLAY */
/* RESPONSE LAYOUT */
/* function */
/* REM-COVERTER */
/* VW-COVERTER */
/* 
https://www.sitepoint.com/converting-typographic-units-sass/ 
  font-size: convert(16, px, percent);
*/
/* BASIS VALUE */
/* FLEXBOX ASSIGN-ROLE */
/* USING: DECLARE YOUR FLEX CONFIGURATION FOR AUTO-DIRECTION FLEXBOX */
/* FLEXBOX EXTENSION */
/* direction */
/* space */
/* wrap */
/* flex-flow */
/* align object */
/* call : 
    @extend %align-{config}
*/
/* SIMPLE-FLEX */
/*  FLEX-AUTO */
/*  generic-flex   */
/* FLEX-DIRECTION */
/* FLEX-WRAP */
/* FLEX-SPACE */
/* ALIGN-ITEMS */
/* FLEX-FLOW */
/* SIMPLE-FLEX */
/*  FLEX-AUTO */
.header {
  background-color: #fff;
  display: block;
  margin: auto;
  filter: drop-shadow(15px 15px 15px #828282);
  margin-bottom: 1.6129032258rem;
}
.header--arrow {
  display: none;
}
.header--logo {
  width: fit-content;
  margin: auto;
  padding: 1.2903225806rem;
}

.section-home {
  background-color: #f6f6f6;
  display: block;
  margin: auto;
  margin-bottom: 1.6129032258rem;
  filter: drop-shadow(15px 15px 15px #383838);
}
.section-home--list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-evenly;
  justify-content: space-evenly;
}
.section-home--list .section-home--bcnd {
  background-color: #eaeaea;
  box-shadow: inset 0px 0px 4px #cfcfcf;
  filter: drop-shadow(15px 15px 15px #9b9b9b);
  padding: 0.6451612903rem;
  margin-bottom: 1.6129032258rem;
}
.section-home--list .section-home--box-icon {
  font-size: 106.25%;
  font-weight: 600;
}
.section-home--list .section-home--box-icon .fa-map-marker-alt {
  padding-right: 0.9677419355rem;
}
.section-home--list .section-home--title {
  padding-top: 0.6451612903rem;
}
.section-home--list .section-home--discover {
  font-size: 1.25em;
  color: rgba(1, 1, 1, 0.384);
}
.section-home--list .jump-line {
  display: none;
}
.section-home .btn-box {
  display: block;
  margin: auto;
  width: fit-content;
  padding-top: 1.935483871rem;
  padding-bottom: 2.9032258065rem;
}
.section-home .btn-box .btn--explore {
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 1em;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0px 8px 4px #cfcfcf;
  margin: 0.3225806452rem 0rem 0.6451612903rem 0rem;
  padding: 1.2903225806rem 2.2580645161rem;
  border: none;
}
.section-home .btn-box .btn--explore:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}

.section-runnig {
  display: block;
  margin: auto;
  margin-top: 4.5161290323rem;
  margin-bottom: 4.5161290323rem;
}
.section-runnig--list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 450px) {
  .section-runnig--list {
    flex-direction: column;
    font-size: 70%;
  }
  .section-runnig--list .runnig-card {
    margin: -8%;
  }
}
@media only screen and (min-width: 450px) and (max-width: 700px) {
  .section-runnig--list {
    flex-direction: column;
    font-size: 80%;
  }
  .section-runnig--list .runnig-card {
    margin: -2%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .section-runnig--list {
    flex-direction: row;
    font-size: 83%;
  }
  .section-runnig--list .runnig-card {
    margin: -6%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .section-runnig--list {
    flex-direction: column;
    font-size: 90%;
  }
  .section-runnig--list .runnig-card {
    margin: -3%;
  }
}
.section-runnig--list .runnig-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 15px;
  box-shadow: 0px 3px 8px #eaeaea;
  margin: 0.9677419355rem;
  height: 4.8387096774rem;
  width: 25%;
}
.section-runnig--list .runnig-card:hover {
  background-color: #e8f9f5;
}
.section-runnig--list .runnig-card--ennum {
  font-size: 1em;
  background-color: #9356DC;
  border-radius: 20px;
  color: white;
  height: 30px;
  width: 30px;
  padding-top: 0.3225806452rem;
  margin-left: -1.935483871rem;
}
.section-runnig--list .runnig-card--icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  width: 8%;
}
.section-runnig--list .runnig-card--icon .fa-store,
.section-runnig--list .runnig-card--icon .fa-list,
.section-runnig--list .runnig-card--icon .fa-mobile-alt {
  color: #353535;
}
.section-runnig--list .runnig-card--icon .fa-store:hover,
.section-runnig--list .runnig-card--icon .fa-list:hover,
.section-runnig--list .runnig-card--icon .fa-mobile-alt:hover {
  color: #9356DC;
}
.section-runnig--list .running-card--text {
  font-size: 1.25em;
  width: 70%;
  margin: -0.1935483871rem;
  margin-left: -10%;
}

.section--title {
  display: block;
  font-family: "roboto";
  width: fit-content;
  padding: 1.6129032258rem;
}

.section-restaurant {
  display: block;
  margin: auto;
  background-color: #eaeaea;
  padding-bottom: 4.5161290323rem;
  margin-bottom: 3.2258064516rem;
}
.section-restaurant .section-restaurant--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
@media only screen and (max-width: 450px) {
  .section-restaurant .section-restaurant--list {
    flex-direction: column;
    font-size: 70%;
  }
  .section-restaurant .section-restaurant--list .section-restaurant--pos {
    margin: -8%;
  }
}
@media only screen and (min-width: 450px) and (max-width: 700px) {
  .section-restaurant .section-restaurant--list {
    flex-direction: column;
    font-size: 80%;
  }
  .section-restaurant .section-restaurant--list .section-restaurant--pos {
    margin: -2%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .section-restaurant .section-restaurant--list {
    flex-direction: row;
    font-size: 83%;
  }
  .section-restaurant .section-restaurant--list .section-restaurant--pos {
    margin: -6%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .section-restaurant .section-restaurant--list {
    flex-direction: column;
    font-size: 90%;
  }
  .section-restaurant .section-restaurant--list .section-restaurant--pos {
    margin: -3%;
  }
}
.section-restaurant .section-restaurant--list .section-restaurant--pos {
  display: block;
  margin: auto;
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: 45%;
  margin-top: 1.2903225806rem;
}
.section-restaurant .section-restaurant--list .section-restaurant--pos:hover {
  filter: drop-shadow(15px 15px 15px #d5f3eb);
}
.section-restaurant .section-restaurant--list .section-restaurant--pos .fig-size {
  border-radius: 20px;
}
.section-restaurant .section-restaurant--list .section-restaurant--pos .fig-size .section-restaurant--new {
  z-index: 1;
  display: block;
  text-align: center;
  color: #008766;
  background-color: #99E2D0;
  padding: 0.6451612903rem 1.935483871rem;
  position: absolute;
  width: fit-content;
  margin-top: 5%;
  margin-left: 78%;
}
.section-restaurant .section-restaurant--list .section-restaurant--pos .fig-size .section-restaurant--img {
  position: relative;
  border: 3px solid white;
  border-radius: 20px 20px 0 0;
  height: 200px;
  width: 100%;
}
.section-restaurant .section-restaurant--list .section-restaurant--pos .fig-size .section-restaurant--insert {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  text-align: start;
  background-color: white;
  padding-left: 1.2903225806rem;
}
.section-restaurant .section-restaurant--list .section-restaurant--pos .fig-size .section-restaurant--insert .section-restaurant--text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  width: 29.0322580645rem;
  margin: 0.9677419355rem;
}
.section-restaurant .section-restaurant--list .section-restaurant--pos .fig-size .section-restaurant--insert .section-restaurant--loc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-content: space-between;
  justify-content: space-between;
  margin-top: 0.3225806452rem;
}
.section-restaurant .section-restaurant--list .section-restaurant--pos .fig-size .section-restaurant--insert .section-restaurant--loc,
.section-restaurant .section-restaurant--list .section-restaurant--pos .fig-size .section-restaurant--insert .section-restaurant--name {
  font-size: 1.4375em;
}

.section-restaurant--icon {
  display: block;
  padding: 1.935483871rem;
  height: fit-content;
  width: fit-content;
}
.section-restaurant--icon .section-restaurant-heart--active {
  width: fit-content;
}
.section-restaurant--icon .section-restaurant-heart--active .heart--active {
  color: #9356DC;
}
.section-restaurant--icon .section-restaurant-heart--active {
  display: none;
}
.section-restaurant--icon:active .section-restaurant-heart {
  display: none;
}
.section-restaurant--icon:active .section-restaurant-heart--active {
  display: inherit;
}
.section-restaurant--icon:active .section-restaurant-heart--active .heart--active {
  font-size: 1.5625em;
}
.section-restaurant--icon .section-restaurant-heart .heart {
  font-size: 1.5625em;
}

.header--active {
  display: inherit;
  display: block;
  margin: auto;
  width: fit-content;
  position: absolute;
  left: 7.7419354839rem;
  top: 1.6129032258rem;
}

.section-menu {
  margin-bottom: 4.5161290323rem;
  background-color: #eaeaea;
  margin: auto;
  margin-top: 4.5161290323rem;
}
.section-menu--fig {
  background: linear-gradient(#fff9fd, #d7c0f2);
  position: relative;
  margin-bottom: 50px;
  margin: auto;
}
.section-menu--fig .section-menu--img {
  border-radius: 50px;
  box-shadow: 0px 8px 4px #cfcfcf;
  border: none;
  margin: auto;
  width: 50%;
  height: 80%;
}
.section-menu--fig .section-menu--cap {
  background-color: #eaeaea;
  border-radius: 40px 40px 0 0;
  position: absolute;
  left: 0;
  right: 0;
  padding: 30px;
  margin-top: -3.2258064516rem;
}
.section-menu--fig .section-menu--cap .menu-restaurant--box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
}
.section-menu--fig .section-menu--cap .menu-restaurant--box .menu-restaurant--name {
  font-size: 1.875em;
  font-weight: bolder;
  font-style: oblique 80deg;
}

.section-main--list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-evenly;
  justify-content: space-evenly;
  margin-top: 6.4516129032rem;
}
.section-main--list .section-main--part-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-evenly;
  justify-content: space-evenly;
  width: 28%;
}
.section-main--list .section-main--part-menu .section-menu--title {
  text-align: start;
  color: #353535;
}
.section-main--list .section-main--part-menu .border {
  width: 9.6774193548rem;
  border-bottom: 1mm solid #99E2D0;
  margin-bottom: 0.6451612903rem;
}
.section-main--list .section-main--part-menu .thumbnail--box {
  text-align: start;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 8px #cfcfcf;
  margin: auto;
  padding: 0.7741935484rem;
  margin: 5% 0;
}
.section-main--list .section-main--part-menu .thumbnail--box:hover {
  filter: drop-shadow(15px 15px 15px #a8a8a8);
}
.section-main--list .section-main--part-menu .thumbnail--box .thumbnail--text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
}
.section-main--list .section-main--part-menu .thumbnail--box .check-box .check-circle {
  display: none;
  background-color: lightgreen;
  color: white;
  border-radius: 0px 15px 15px 0;
  padding: 0.9677419355rem;
}

.btn-box .btn--explore {
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 1em;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0px 8px 4px #cfcfcf;
  margin: 0.3225806452rem 0rem 0.6451612903rem 0rem;
  padding: 1.2903225806rem 2.2580645161rem;
  border: none;
  background-color: #39a98d;
  width: 14.1935483871rem;
}
.btn-box .btn--explore:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}

.section-footer {
  background-color: #353535;
  padding: 0.3225806452rem 0rem;
}
.section-footer--title {
  text-align: center;
  font-size: 2.25em;
  font-weight: 950;
  font-style: oblique 70deg;
  color: white;
}
.section-footer--list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 1.6129032258rem;
  width: fit-content;
}
@media only screen and (max-width: 450px) {
  .section-footer--list {
    flex-direction: column;
    font-size: 70%;
  }
  .section-footer--list .section-footer--text {
    margin: -8%;
  }
}
@media only screen and (min-width: 450px) and (max-width: 700px) {
  .section-footer--list {
    flex-direction: column;
    font-size: 80%;
  }
  .section-footer--list .section-footer--text {
    margin: -2%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .section-footer--list {
    flex-direction: row;
    font-size: 83%;
  }
  .section-footer--list .section-footer--text {
    margin: -6%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .section-footer--list {
    flex-direction: column;
    font-size: 90%;
  }
  .section-footer--list .section-footer--text {
    margin: -3%;
  }
}
.section-footer--list .section-footer--text {
  margin: 1.2903225806rem;
}
.section-footer--list .section-footer--icon {
  width: 35px;
}
.section-footer--list .section-footer--add,
.section-footer--list .section-footer--partner,
.section-footer--list .section-footer--cgv,
.section-footer--list .section-footer--contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1.25em;
  color: white !important;
}

main {
  padding: 1.6129032258rem;
}

@media only screen and (max-width: 800px) {
  .header {
    filter: none;
    background-color: #fff;
    display: block;
    margin: auto;
  }
  .header--arrow {
    display: none;
  }
  .header--logo {
    width: fit-content;
    margin: auto;
  }

  .section-home {
    filter: none;
    margin-bottom: -10%;
  }
  .section-home--list .section-home--bcnd {
    filter: none;
    padding: 0.4516129032rem;
  }
  .section-home--list .section-home--title {
    padding-top: 0.6451612903rem;
  }
  .section-home--list .jump-line {
    display: inherit;
  }
  .section-home .btn-box {
    display: block;
    margin: auto;
    width: fit-content;
    padding-top: 1.935483871rem;
    padding-bottom: 2.9032258065rem;
  }
  .section-home .btn-box .btn--explore {
    background: linear-gradient(#FF79DA, #9356DC);
    font-size: 1em;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 8px 4px #cfcfcf;
    margin: 0.3225806452rem 0rem 0.6451612903rem 0rem;
    padding: 1.2903225806rem 2.2580645161rem;
    border: none;
  }
  .section-home .btn-box .btn--explore:hover {
    background: linear-gradient(#9356DC, #FF79DA);
  }

  .section-runnig {
    padding: 1.2903225806rem;
  }
  .section-runnig .section--title {
    margin: 0%;
    padding: 0%;
  }
  .section-runnig--list {
    flex-direction: column;
  }
  .section-runnig--list .runnig-card {
    margin: 0.9677419355rem;
    height: 4.8387096774rem;
    width: 100%;
  }
  .section-runnig--list .runnig-card--ennum {
    padding-top: 0.5161290323rem;
    margin-left: -1.935483871rem;
  }
  .section-runnig--list .runnig-card--icon {
    width: 8%;
    margin-left: -1.2903225806rem;
  }
  .section-runnig--list .running-card--text {
    margin-left: -15%;
  }

  .section-restaurant .section-restaurant--list {
    margin-top: -10%;
    padding: 1.2903225806rem;
  }
  .section-restaurant .section-restaurant--list .section-restaurant--pos {
    width: 100%;
  }
  .section-restaurant .section-restaurant--list .section-restaurant--pos:hover {
    filter: none;
  }
  .section-restaurant .section-restaurant--list .section-restaurant--pos .fig-size .section-restaurant--new {
    top: 0.3225806452rem;
    right: 0.9677419355rem;
  }

  .section-footer--title {
    text-align: start;
    width: fit-content;
    margin-bottom: 1.2903225806rem;
    margin-left: 25%;
  }
  .section-footer--list {
    align-items: start;
    margin: 0;
  }
  .section-footer--list .section-footer--text {
    margin: 0.3870967742rem;
  }
  .section-footer--list .section-footer--add,
.section-footer--list .section-footer--partner,
.section-footer--list .section-footer--cgv,
.section-footer--list .section-footer--contact {
    text-align: start;
  }
  .section-footer--title, .section-footer--list {
    margin-left: 0.9677419355rem;
  }

  main {
    padding: 0;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .header {
    filter: none;
    background-color: #fff;
    display: block;
    margin: auto;
  }
  .header--arrow {
    display: none;
  }
  .header--logo {
    width: fit-content;
    margin: auto;
  }

  .section-home {
    filter: none;
    margin-bottom: -10%;
  }
  .section-home--list .section-home--bcnd {
    filter: none;
    padding: 0.4516129032rem;
  }
  .section-home--list .section-home--title {
    padding-top: 0.6451612903rem;
  }
  .section-home--list .jump-line {
    display: inherit;
  }
  .section-home .btn-box {
    display: block;
    margin: auto;
    width: fit-content;
    padding-top: 1.935483871rem;
    padding-bottom: 2.9032258065rem;
  }
  .section-home .btn-box .btn--explore {
    background: linear-gradient(#FF79DA, #9356DC);
    font-size: 1em;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 8px 4px #cfcfcf;
    margin: 0.3225806452rem 0rem 0.6451612903rem 0rem;
    padding: 1.2903225806rem 2.2580645161rem;
    border: none;
  }
  .section-home .btn-box .btn--explore:hover {
    background: linear-gradient(#9356DC, #FF79DA);
  }

  .section-runnig {
    padding: 1.2903225806rem;
  }
  .section-runnig .section--title {
    margin: 0%;
    padding: 0%;
  }
  .section-runnig--list {
    flex-direction: column;
  }
  .section-runnig--list .runnig-card {
    margin: 0.9677419355rem;
    height: 4.8387096774rem;
    width: 100%;
  }
  .section-runnig--list .runnig-card--ennum {
    padding-top: 0.5161290323rem;
    margin-left: -1.935483871rem;
  }
  .section-runnig--list .runnig-card--icon {
    width: 8%;
    margin-left: -1.2903225806rem;
  }
  .section-runnig--list .running-card--text {
    margin-left: -15%;
  }

  .section-restaurant .section-restaurant--list {
    margin-top: -10%;
    padding: 1.2903225806rem;
  }
  .section-restaurant .section-restaurant--list .section-restaurant--pos {
    width: 100%;
  }
  .section-restaurant .section-restaurant--list .section-restaurant--pos:hover {
    filter: none;
  }
  .section-restaurant .section-restaurant--list .section-restaurant--pos .fig-size .section-restaurant--new {
    top: 0.3225806452rem;
    right: 0.9677419355rem;
  }

  .section-footer--title {
    text-align: start;
    width: fit-content;
    margin-bottom: 1.2903225806rem;
    margin-left: 25%;
  }
  .section-footer--list {
    align-items: start;
    margin: 0;
  }
  .section-footer--list .section-footer--text {
    margin: 0.3870967742rem;
  }
  .section-footer--list .section-footer--add,
.section-footer--list .section-footer--partner,
.section-footer--list .section-footer--cgv,
.section-footer--list .section-footer--contact {
    text-align: start;
  }
  .section-footer--title, .section-footer--list {
    margin-left: 0.9677419355rem;
  }
}
/*
// Some vars
$animation-duration: 4s;

$background-color:  #d55084;
$window-top:        #3c3e99;
$window-bar:        #4c54a4;
$window-content:    #fff;
$window-background: #efeff3;
$button-color:      #e20269;

$window-width:   140px, 400px, 560px;
$window-height:  250px, 300px, 370px;
$content-width:  140px, 270px, 290px;
$content-height: 220px, 220px, 225px;
$header-height:  30px, 90px, 105px;
$header-border:  7px, 12px, 14px;
$button-size:    20px, 26px, 26px;

// Card
section {
  position: relative;
  width: nth($window-width, 1);
  height: nth($window-height, 1);
  background-color: $window-background;
  animation: window forwards $animation-duration infinite;
  overflow: hidden;

  > * {
    position: absolute;
  }
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: nth($header-height, 1);
  border-top: nth($header-border, 1) solid $window-top;
  background-color: $window-bar;
  animation: header forwards $animation-duration infinite;
}

article {
  top: 30px;
  left: 50%;
  width: nth($content-width, 1);
  height: nth($content-height, 1);
  box-shadow: 0 2px 4px rgba(100,100,100,.1);
  background-color: $window-content;
  transform: translateX(-50%);
  animation: article forwards $animation-duration infinite;

  // medium
  &::after {
    position: absolute;
    top: 100%;
    margin-top: 15px;
    width: 100%;
    height: 100px; // 30px on small, 95px on large
    background-color: $window-content;
    box-shadow: 0 2px 4px rgba(100,100,100,.1);
    content: '';
  }
}

button {
  position: absolute;
  right: 10px;
  top: (nth($window-height, 1) - 20px * 1.5);
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 100%;
  box-shadow: inset 0 0 1px rgba(0,0,0,.4), 0 2px 3px rgba(0,0,0,.2);
  -webkit-appearance: none;
  background-color: $button-color;
  animation: button forwards $animation-duration infinite;
}

// Animations
@keyframes window {
  0%, 15%, 90% {
    width: nth($window-width, 1);
    height: nth($window-height, 1);
  }

  30%, 45% {
    width: nth($window-width, 2);
    height: nth($window-height, 2);
  }

  60%, 75% {
    width: nth($window-width, 3);
    height: nth($window-height, 3);
  }
}

@keyframes header {
  0%, 15%, 90% {
    width: 100%;
    height: nth($header-height, 1);
    border-top-width: nth($header-border, 1);
  }

  30%, 45% {
    height: nth($header-height, 2);
    border-top-width: nth($header-border, 2);
  }

  60%, 75% {
    height: nth($header-height, 3);
    border-top-width: nth($header-border, 3);
  }
}

@keyframes article {
  0%, 15%, 90% {
    top: $window-bar;
    width: nth($content-width, 1);
    height: nth($content-height, 1);
  }

  30%, 45% {
    top: 35px;
    width: nth($content-width, 2);
    height: nth($content-height, 2);
  }

  60%, 75% {
    top: 35px;
    width: nth($content-width, 3);
    height: nth($content-height, 3);
  }
}

@keyframes button {
  0%, 15%, 90% {
    right: 10px;
    top: (nth($window-height, 1) - 20px * 1.5);
    width: nth($button-size, 1);
    height: nth($button-size, 1);
  }

  30%, 45% {
    right: 20px;
    top: (nth($header-height, 2) - 26px * .5);
    width: nth($button-size, 2);
    height: nth($button-size, 2);
  }

  60%, 75% {
    right: 25px;
    top: (nth($header-height, 3) - 26px * .5);
    width: nth($button-size, 3);
    height: nth($button-size, 3);
  }
}

// Unimportant bits
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
}

.credit {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-family: Avenir Next, Helvetica Neue, sans-serif;

  // The CodePen preview/thumbnail window is about 300px-500px in height
  @media (min-height: 500px) {
    display: block;
  }

  a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed rgba(255,255,255,.3);
    transition: border-color ease-out .15s;

    &:focus,
    &:hover {
      border-bottom-color: #fff;
    }
  }
}*/

/*# sourceMappingURL=style.css.map */
